<div class="header">
  <div class="logo">
    <img [routerLink]="['/']" src="assets/logo.png" alt="">
  </div>
  <div class="menu">
    <ul>
      <li [routerLink]="['/book-shelf']">Ebooks</li>
      <li>Class</li>
      <div class="line"></div>
      <li>Login</li>
      <li>Sign up</li>
    </ul>
  </div>
  <div class="search">
    <i class="fa fa-search" (click)="toggleSearch()" aria-hidden="true"></i>
    <i class="fa fa-close" (click)="logout()" aria-hidden="true"></i>
    <input [(ngModel)]="textSearch" (ngModelChange)="searchBook($event)" *ngIf="isSearch" type="text" placeholder="Title of book">
    <div class="results" *ngIf="results.length > 0">
      <ul>
        <li *ngFor="let book of results">{{book.title}}</li>
      </ul>
    </div>
  </div>
</div>