.header {
  display: flex;
  color: grey;
  font-family: 'Helvetica Neue';
  font-weight: bold;
  margin: 0 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 80%;
}

.menu {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  margin-right: 10px;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li {
  padding: 5px 10px 5px 10px;
  font-size: small;
  text-transform: uppercase;
}

.menu ul li:nth-child(2) {
  margin-right: 10px;
}

.menu ul li:nth-child(4) {
  margin-left: 10px;
}

.search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-right: 10px;
}

.search input {
  min-width: 300px;
  padding: 5px;
  margin-left: 10px;
}

.search .results {
    position: absolute;
    top: 42px;
    left: 30px;
    width: 314px;
    z-index: 100;
    background-color: rgba(128, 128, 128, 0.4);
}

.search .results ul {
    padding: 5px;
    margin: 0;
    flex-direction: column;
    list-style: none;
    color: white;
}
.search .results li {
    padding: 5px;
    width: 100%;
    text-transform: capitalize;
    font-weight: lighter;
}
.search .fa-search {
  color: grey;
}

.line {
  border: 1px solid grey;
  background-color: grey;
}
