:host {
    display: flex;
    height: 100vh;
}

.cover {
    flex: 1;
    text-align: center;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666666;
    color: white;
}
.form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.form-control {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}
label {
    flex: 1;
}

input {
    flex: 4;
}