<div class="cover">
  <h1>We share books</h1>
</div>
<div class="form">
  <form action="">
    <div class="form-control">
      <label for="">Email</label>
      <input [(ngModel)]="login.email" type="email" name="email">
    </div>
    <div class="form-control">
      <label for="">Password</label>
      <input [(ngModel)]="login.password" type="password" name="password">
    </div>
  </form>
  <div>
    <button>Register</button>
    <button (click)="goLogin()">Login</button>
  </div>
</div>
