<div class="banner">

  <div class="content">
    <div class="cover">
      <img src="assets/banner-book.png" alt="">
    </div>
    <div class="title">
        <h3>We are share</h3>
        <h1>Jtc books</h1>
        <button [routerLink]="['/book-shelf']">Read more</button>
    </div>
    
  </div>
</div>
