.banner {
  display: flex;
  justify-content: flex-end;
}

.banner .content {
    background: linear-gradient(135deg, #C3EFBF, #C3EFBF 50%, #6CFFFF);
  height: calc(100vh - 60px);
  width: calc(100vw - 300px);
  position: relative;
}
.cover img {
    height: 60vh;
    position: absolute;
    left: -150px;
    top: 15%;
}

.title {
    position: absolute;
    left: 40%;
    top: 30%;
    font-family: 'Helvetica Neue';
}

.title h3 {
    text-transform: uppercase;
    font-weight: 100;
}

.title h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 72px;
    margin: 0;
}
.title button {
    margin-top: 20px;
    background-color: black;
    padding: 20px 40px;
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    text-transform: uppercase;
}