<div class="bookshelf">
  <div class="head">
    <h2 class="title">
      Popular E-books
    </h2>
    <input class="search"[(ngModel)]="textSearch" *ngIf="isSearch" type="text" placeholder="Title of book">
    <div class="layout">
      <button (click)="search(textSearch)">
      <i class="fa fa-2x fa-search" aria-hidden="true"></i>
      </button>
      <button [routerLink]="['list']">
      <i class="fa fa-2x fa-bars" aria-hidden="true"></i>
      </button>
      <button [routerLink]="['grid']">
      <i class="fa fa-2x fa-th" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="board">
    <!-- <app-grid-book *ngIf="grid" [books]="books"></app-grid-book>
    <app-list-book *ngIf="!grid" [books]="books"></app-list-book> -->
    <!-- <router-outlet></router-outlet> -->
  </div>
  <button (click)="loadBooks()">Load More</button>
</div>