.bookshelf {
    display: flex;
    flex-direction: column;
    padding: 0 30px 0 150px;
    margin-top: 50px;
    font-family: 'Helvetica Neue';
}
.bookshelf .head {
    display: flex;
    align-items: center;
    color: grey;
}
.head h2 {
    margin:  0;
    flex: 1;
    text-transform: uppercase;
    font-size: medium;
}
.head .layout {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.head .layout button{
    
    padding: 5px;
}

.head .layout button:nth-child(1){
    box-shadow: 0 0 5px gray;
    border-radius: 34px;
    width: 34px;
    height: 34px;
}

.head .layout button:nth-child(2){
    box-shadow: 0 0 5px gray;
    margin-left: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px 0 0 15px;
}
.head .layout button:nth-child(3){
    box-shadow: 0 0 5px gray;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 15px 15px 0;
    
}
.head .layout button .fa{
    color: grey;
}

.board {
    display: flex;
    text-align: center;
    padding: 20px 0px;
}

.board app-book-cover {
    
}
.board > button {
    margin: auto;
}
.search {
    padding: 5px 10px;
    width: 30%;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.17);
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(128, 128, 128, 0.3);
}