.book-cover {
    background: rgba(128, 128, 128, 0.14);
    text-align: center;
    padding:  30px 20px; 
}
.book-cover img {
    width: 100%;
}

.book-cover h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 16px;
}
.book-cover button {
    padding: 8px 16px;
    border-radius: 16px;
}